
@{
    ViewBag.Title = "DangKy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="billing-details">

    <div class="section-DKDN">
        <h3 class="title">Đăng ký tài khoản</h3>
    </div>

    <div class="form-group">
        <input class="input-DKDN" type="text" name="ho" placeholder="Họ">
    </div>
    <div class="form-group">
        <input class="input-DKDN" type="text" name="ten" placeholder="Tên">
    </div>
    <div class="form-group">
        <input class="input-DKDN" type="email" name="email" placeholder="Email">
    </div>
    <div class="form-group">
        <input class="input-DKDN" type="text" name="diachi" placeholder="Địa chỉ">
    </div>
    <div class="form-group">
        <input class="input-DKDN" type="password" name="password" placeholder="password">
    </div>
    <div class="form-group">
        <input class="input-DKDN" type="tel" name="sdt" placeholder="Số điện thoại">
    </div>
    <br>
    <div class="form-group">
        <input class="submitTaoTK" type="submit" name="DangNhap" value="Tạo tài khoản">
    </div>
</div>
<br>
<!-- /Billing Details -->
