
@{
    ViewBag.Title = "DangNhap";
    Layout = "~/Views/Shared/_Layout.cshtml";


}   <div class="section-DKDN">
        <h3 class="title">Đăng nhập</h3>
    </div>
    <div class="form-groupDKDN">
        Tên đăng nhập: <input class="input-TenDN" type="text" name="TaiKhoan" placeholder="Tên đăng nhập">
    </div>
    <div class="form-groupDKDN">
        Mật khẩu: <input class="input-DKDN" type="password" name="password" placeholder="Password">
    </div><br>
    <div class="form-groupDKDN">
        <input class="submitTaoTK" type="submit" name="DangNhap" value="Đăng nhập">
    </div>
    <br>


