@model WebLaptop3.Models.Data_minh.LoaiLaptop

@{
    ViewBag.Title = "Xoa";
    Layout = "~/Views/Layout/AdminLayout.cshtml";
}

<h4>Trang quản lý =>Quản lý loại laptop => Xóa</h4>

<h3>Bạn có thật sự muốn xóa loại laptop này?</h3>
<div>
 
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenLoaiLaptop)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenLoaiLaptop)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions red">
            <input type="submit" value="Xóa" class="btn btn-default" /> |
            @Html.ActionLink("Trở về", "Index")
        </div>
    }
</div>
