

@using WebLaptop3.Models.Data_minh;
@model List<Laptop>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
   
}

@*Chen partial firstlatop*@
@Html.Action("FirstLaptopPartial", "Laptop")

@*Chen partial listlatop*@
@*@Html.Action("ListLaptopPartial", "Laptop")*@

<h3 class="title" style="margin-left:10%;margin-top:20px">New Asus</h3>
@Html.Action("ListLaptopPartial", "Laptop", new { @maLoaiLaptop = "1" })


<h3 class="title" style="margin-left:10%;margin-top:20px;">New Dell</h3>
@Html.Action("ListLaptopPartial", "Laptop", new { @maLoaiLaptop = "2" })

<h3 class="title" style="margin-left:10%;margin-top:20px;">New MAC</h3>
@Html.Action("ListLaptopPartial", "Laptop", new { @maLoaiLaptop = "4" })

