
.DangKyDangNhap{
    float:right;
}
/* khi di chuột vào đăng ký đăng nhập*/
.DangKyDangNhap a:hover {
    text-decoration:none;
    color:white
} 

.Email-SDT{
    float:left;
}

#divDanhMuc{
    float:right;
}

.navMenu li{
    display:inline;
}
.navMenu a:hover{
    text-decoration:none;
}